header, footer{
    background-color:black;
    color:white;

    a{color:white;}
}

.page-content{
    margin-top:0;
    @include rem(padding-bottom,$page-footer-height+$base-spacing-unit);
    width:100%;
    z-index: 1;
    _zoom:1;
}

.page-width{
    margin: 0 auto;
    max-width: 1300px;
    width: 95%;
}