$global-border-box: true!default; //only for projects that support IE8 and up
$debug-mode:        false!default;

/**
 * Default colour for objects’ borders etc.
 */
$brand-color:               black;
$brand-color-secondary:     #666;
$brand-color-tertiary:      black;
$brand-color-quaternary:    black;

$color-main-link:           black;

/**
 * Base font-family.
 */
$base-font-family:  "Source Sans Pro", Arial, Helvetica, sans-serif;
$base-font-family--weighted:  "BankGothicBT-Light" Arial, Helvetica, sans-serif;
$base-font-family--script: cursive;

$default-font-size: 16px;

/**
 * How big would you like round corners to be by default?
 */
$brand-round:       4px;

/*------------------------------------*\
    $PULL & PUSH
\*------------------------------------*/

$pull: true;
$push: true;
$below-desk-push:   true;

$use-grids:         true;
$use-flexbox:       true;
$use-columns:       true;
$use-nav:           true;
$use-options:       true;
$use-pagination:    true;
$use-breadcrumb:    true;
$use-media:         true;
$use-marginalia:    true;
$use-island:        true;
$use-block-list:    true;
$use-matrix:        true;
$use-split:         true;
$use-this-or-this:  true;
$use-link-complex:  true;
$use-flyout:        true;
$use-arrows:        true;
$use-sprite:        false;
$use-icon-link:     false;
$use-buttons:       true;
$use-lozenges:      true;
$use-rules:         true;
$use-stats:         true;
$use-greybox:       true;
$use-star-rating:   true;
$use-widgets:       false;
$use-tree:          false;
$use-pop-ups:       true;
$use-notes:         true;
$use-legend:        true;
$use-info-list:     true;
$use-fancy-checkbox:true;
$use-charting:      false;
$use-file-icons:    false;
$use-jquery-ui:     false;

/*------------------------------------*\
    $@FONT-FACES
\*------------------------------------*/
$use-entypo:        true;

$page-footer-height: 60px;