a{
    color:$color-main-link;
    &:hover{
        color:$color-nexus-black;
    }
}

p,table,.nav{
    a{
        @include link-in-text($color-main-link);
    }
}

.link-complex{
    @include link-in-text($color-main-link);
}

.pill,.loz{
    background-color:$color-nexus-black;
    color:white;
}

header, footer{
    background-color:black;
    color:white;

    .text-input{border:0;}

    .nav a, a{
        color:white;
        &:hover{
            background: white;
            color:black;
        }
    }
}

.header__top-right{
    @include media-query("palm"){
        text-align:center;
    }
}

.page-content{
    margin-top:0;
    @include rem(padding-bottom,$page-footer-height+$base-spacing-unit);
    width:100%;
    z-index: 1;
    _zoom:1;
}

.page-width{
    margin: 0 auto;
    max-width: 1300px;
    width: 95%;
}

.page-wrapper{
    height:auto;
    min-height: 100%;
    margin:0;
    background:white;
}

.page-basket{
    z-index: 15;
    &:hover>.flyout__content{right:0;}
}



.main-logo, .main-strapline{
    display:block;
    text-transform: uppercase;
    @include rem(font-size, $h5-size);

    @include media-query("below-desk"){
       text-align:center;
    }
}

.main-logo{
    img{border-bottom:1px solid black;}
    &:hover{
        background:black;
        img{border-color:white;}
    }
}

footer{
    position: relative;
    @include rem(height,$page-footer-height);
    @include rem(margin-top, -$page-footer-height);
    @include rem(font-size, 13px);
    padding:0;
    @include rem(padding, $page-footer-height/4 0);
    z-index:7;

    @include media-query("below-desk"){
       height:auto;
    }

    .nav{
        > li{
        padding-left:$half-spacing-unit/2;
        > a {padding:0 $half-spacing-unit/4}
    }}
}